# Assignment 4

Q1. What exactly is []?

Empty [] represents an empty list.

In [1]:
type([])

list

Q2. In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the
third value? (Assume [2, 4, 6, 8, 10] are in spam.)

To assign 'hello' as the third value we can use the assignment operator directly with the index number.

In [2]:
spam = [2,4,6,8,10]

spam[2] = 'hello'

In [4]:
spam

[2, 4, 'hello', 8, 10]

If we want to insert 'hello' without replacing the value in the third place but rather shifting to other position we can use the insert function.

In [5]:
spam = [2,4,6,8,10]
spam.insert(2,'hello')

In [6]:
spam

[2, 4, 'hello', 6, 8, 10]

Q3. What is the value of spam[int(int('3'*2)/11)]?

In [7]:
spam[int(int('3'*2)/11)]

6

Note here '3' is a string and not an integer so '3' * 2 gives us '33' which is then converted to integer and then divided by 11 which gives us the output 3.

Q4. What is the value of spam[-1]?

In [8]:
spam[-1]

10

spam[-1] returns the value at the last index of the list.

Q5. What is the value of spam[:2]?

In [10]:
spam[:2]

[2, 4]

This slicing operation will return us the values from the index 0 till index 1.

In [11]:
bacon = [3.14,'cat',11,'cat',True]

Q6. What is the value of bacon.index('cat')?

In [12]:
bacon.index('cat')

1

This function will return the index of the first occurence of the value.

Q7. How does bacon.append(99) change the look of the list value in bacon?

In [13]:
bacon.append(99)

In [14]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

This function will add 99 to the end of the list

Q8. How does bacon.remove('cat') change the look of the list meaning in bacon?

In [15]:
bacon.remove('cat')

In [16]:
bacon

[3.14, 11, 'cat', True, 99]

The above function will remove the first occurence of the value.

Q9. What are the list concatenation and list replication operators?

In [29]:
a = [1,2,3]
b = [4,5,6]
c = a + b #this is the concatenation operation
print(c)

[1, 2, 3, 4, 5, 6]

In [30]:
f = 3 * a #this is the replication operation
print(f)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

We use '+' operator for concatenation and '*' operator for replication

Q10. What is difference between the list methods append() and insert()?

Append function is used to insert a value at the end of the list while insert function can be used to enter the value anywhere in the list.

In [39]:
a.append(0)
a

[1, 2, 3, 0]

In [32]:
b.insert(2,'name')
b

[4, 5, 'name', 6]

Q11. What are the two methods for removing items from a list?

The two functions which are used for removing items form a list are remove and pop function.

In [40]:
a.remove(0) #for remove function we provide the value that needs to be removed
a

[1, 2, 3]

In [34]:
b.pop(2)#for pop function we provide the index number to be removed. By default it is -1
b

[4, 5, 6]

Q12. Describe how list values and string values are identical.

The list values and string values are identical in a way that both of them are iterable and we can even perform the concatenation and replication function on both of them in the same way.

In [3]:
a = "akash"
l1 = ['a','k','a','s','h']

In [4]:
for i in a:
    print(i)

a
k
a
s
h

In [5]:
for i in l1:
    print(i)

a
k
a
s
h

In [6]:
"ss" + "ak"

'ssak'

In [7]:
"ss" * 3

'ssssss'

Q13. What is the difference between tuples and lists?

The major difference between tuple and list is that tuple is immutable while the list the list is mutable. Once created a tuple cannot be modified or changed in any way.

In [10]:
a = (1,2,3,4)
type(a)

tuple

In [11]:
for i in a:
    print(i)

1
2
3
4

In [14]:
a[0] = 4

TypeError: 'tuple' object does not support item assignment

In [16]:
b = ["apple","orange","kiwi"]
for i in b:
    print(i)

apple
orange
kiwi

In [17]:
type(b)

list

In [18]:
b[0] = 4

In [19]:
b

[4, 'orange', 'kiwi']

Since lists are mutable they support a lot more functionalities than tuples like insert and remove function.
In Python, tuples are allocated large blocks of memory with lower overhead, since they are immutable; whereas for lists, small memory blocks are allocated. Between the two, tuples have smaller memory. This helps in making tuples faster than lists when there are a large number of elements

Q14. How do you type a tuple value that only contains the integer 42?

In [23]:
F1 = (42,)
type(F1)

tuple

Q15. How do you get a list values tuple form? How do you get a tuple values list form?

In [1]:
new_list = [1,2,3,4]
tup1 = tuple(new_list)
type(tup1)

tuple

In [3]:
tup2 = (7,8,9)
new_list2 = list(tup2)
type(new_list2)

list

We can use the list and tuple function to covert from one data type to another

Q16. Variables that contain list values are not necessarily lists themselves. Instead, what do they
contain?

Variables will contain references to list values rather than list values themselves. But for strings and integer values, variables simply contain the string or integer value. Python uses references whenever variables must store values of mutable data types, such as lists or dictionaries

Q17. How do you distinguish between copy.copy() and copy.deepcopy()?

A shallow copy constructs a new compound object and then (to the extent possible) inserts references into it to the objects found in the original.

A deep copy constructs a new compound object and then, recursively, inserts copies into it of the objects found in the original